html body {
    height: auto;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Baloo Tammudu 2', cursive;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}

header .wrapper {
    padding: 0px 15px 0px 15px;
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(36, 60, 97) 30%, rgba(2, 0, 36, 1) 54%);
    align-items: center;
    border: 1px rgb(68, 11, 109) solid;
}


div.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

div.logo a h1 {
    margin: 20px 0px 0px 20px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.logo img {
    height: 75px;
    margin-left: 20px;
}

header div.navegation ul {
    display: flex;
    font-size: 20px;
    list-style: none;
    align-items: center;
    margin: 0px;
}

header div.navegation ul a {
    text-decoration: none;
}

header div.navegation ul a li {
    background-color: rgb(19, 19, 56);
    border: 1px solid;
    border-radius: 20px;
    padding: 8px 20px;
    padding-bottom: 0px;
    transition: 1s;
}

header div.navegation ul a li:last-child {
    margin-right: 40px;
}

header div .navegation ul a li:hover {
    background-color: aliceblue;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .principal .card1 {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 200px 0px 200px 0px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

main .principal .card1 .img1 img {
    height: 450px;
    border-radius: 100px;
    margin-left: 150px;
}

main .principal .card1 .texto1 {
    text-align: left;
    color: white;
    margin: 0px 150px;
    font-size: 30px;
}

main .principal .produtos {
    display: flex;
    width: 85%;
    height: 550px;
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    padding-bottom: 200px;
}

main .principal .produtos .minicard {
    width: 300px;
    height: 300px;
    color: aliceblue;
    text-align: center;
    align-self: flex-start;
}

main .principal .produtos .card-text {
    text-align: center;
    height: 85px;
}

main .principal .produtos a {
    padding-top: 12px;
    transition: 1s;
}

main .principal .produtos a:hover {
    background-color: aliceblue;
    color: #0d6efd;
}

main .principal .produtos img {
    width: 300px;
    height: 300px;
}

footer {
    display: flex;
    width: 100%;
    height: 250px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(21, 31, 46) 30%, rgba(2, 0, 36, 1) 54%);
    color: aliceblue;
    justify-content: space-between;
    border: 1px rgb(68, 11, 109) solid;
}

footer .logo {
    align-self: center;
    margin-left: 50px;
}

footer .socialmedia {
    display: flex;
    justify-content: space-around;
    margin-bottom: 65px;
}

footer .socialmedia a img {
    width: 64px;
    height: 64px;
}


footer .direitos {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-self: flex-end;
    color: rgb(83, 83, 83);
}

footer .direitos p {
    align-self: center;
    margin-bottom: 8;
}

footer .direitos .siga {
    align-self: center;
    margin-top: 50px;
}

footer .direitos img {
    height: 200px;
    width: 600px;
}

footer .rightside {
    display: flex;
}

footer .rightside .info {
    align-self: center;
    color: aliceblue;
    margin: 40Px 25px 0px 0px;
}


footer .mapa {
    display: flex;
    flex-direction: column;
    margin: 10px 120px 10px 20px;
}

.wppfixed {
    position: fixed;
    bottom: 20px;
    right: 20px;

}
