* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }

html {
    font-size: 62.5%;
    overflow: hidden;
}

html, body {
    height: 100vh;
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: url('../images/background.jpg');
    background-size: cover;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    overflow: auto;
}

.wrapper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(36, 60, 97) 30%, rgba(2, 0, 36, 1) 54%);
    border-bottom: 1px rgb(68, 11, 109) solid;
    border-top: 1px rgb(68, 11, 109) solid;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

div.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

div.logo a h1 {
    margin: 15px 0px 0px 10px;
    font-family: 'Baloo Tammudu 2', cursive;
    transition: 1s;
}

div.logo a h1:hover {
    color: aliceblue;
}

.logo img {
    height: 50px;
}

header div.navegation ul {
    display: flex;
    font-size: 1.6rem;
    list-style: none;
    align-items: center;
    margin: 0px;
}

header div.navegation ul a {
    text-decoration: none;
}

header div.navegation ul a li {
    background-color: rgb(19, 19, 56);
    border: 1px solid;
    border-radius: 20px;
    padding: 8px 20px 0px 20px;
    transition: 1s;
}

header div.navegation ul a li:last-child {
    margin-right: 15px;
}

header div .navegation ul a li:hover {
    background-color: aliceblue;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1% 
}

main .principal .card1 {
    display: flex;
    margin: 15% 0 10% 0;
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: center;
}

main .principal .card1 .img1 img {
    width: 140%;
    border-radius: 100px;
    margin-left: 20%;
}

main .principal .card1 .texto1 {
    text-align: left;
    color: white;
    font-size: 2.4rem;
    position: relative;
    width: 100%;
    margin-left: 20%;
    margin-right: 5%;
}

main .principal .produtos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10% 0 10% 0;
}

main .principal .produtos .minicard {
    width: 33vw;
    height: 33vw;
    color: aliceblue;
    text-align: center;
    align-self: flex-start;
    font-size: 2.2rem;
    font-weight: bold;
}

main .principal .produtos .minicard img {
    width: 60%;
    height: 60%;
    margin-right: 40px;
}

main .principal .produtos .card-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
}

main .principal .produtos .card-body {
    padding: 5px 0px 0px 0px;
    width: 90%;
}

main .principal .produtos a {
    padding-top: 12px;
    transition: 1s;
    font-size: 1.5rem;
}

main .principal .produtos a:hover {
    background-color: aliceblue;
    color: #0d6efd;
}

main .parceiros {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background-color: rgb(21, 17, 54);
    border-radius: 20px;
    border: 1px rgb(68, 11, 109) solid;
    margin: 5% 5%
}

main .parceiros .textoparceiros p {
    margin: 15% 0;
    color: #0d6efd;
    font-size: 2.4rem;
    background-color: rgb(35, 58, 95);
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
    transition: 1s;
}

main .parceiros .textoparceiros p:hover {
    border-color: aliceblue;
    color: antiquewhite;
}

main .parceiros .logoparceiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main .parceiros .logoparceiros a {
    margin: 2%;
}

main .faleconosco {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 17, 54);
    width: 80%;
    border-radius: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(68, 11, 109) solid;
    margin: 0% 10% 15% 10%;
}

main .tituloform {
    text-align: center;
    margin: 2% 0 4% 0;
    font-size: 2.2rem;
    color: aliceblue;
}

main .faleconosco .form {
    align-self: center;
    width: 90%;
}

main .faleconosco .form input {
    margin: 0px 0px 30px 50px;
    width: 40%;
    font-size: 2rem;
    text-align: left;
    border-radius: 20px;
    padding-left: 15px;
    border: 1px solid #579aff;
    box-shadow: 0 0 0 0;
    outline: 0;
}

main form textarea {
    width: 87.5%;
    height: 175px;
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 30px;
    border-radius: 20px;
    padding-left: 15px;
    border: 1px solid #579aff;
    box-shadow: 0 0 0 0;
    outline: 0;
}

main form #termo {
    width: 30px;
    height: 15px;
}

main form label {
    color: aliceblue;
}

main form label a {
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

main form label a:hover {
    color: #579aff;
}

main .faleconosco form button {
    margin: 20px 0px 20px 0px;
    background-color: rgb(35, 58, 95);
    border: 1px solid;
    border-radius: 50px;
    padding: 0px 40px 5px 40px;
    color: #0d6efd;
    font-size: 2.2rem;
    transition: 1s;
}

main .faleconosco form button:hover {
    color: aliceblue;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(21, 31, 46) 30%, rgba(2, 0, 36, 1) 54%);
    color: aliceblue;
    justify-content: space-between;
    border-top: 1px rgb(68, 11, 109) solid;

}

footer .wrapper {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-around;
}

footer .logo {
    align-self: center;
}

footer .socialmedia {
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
}

footer .socialmedia a {
    margin-right: 25px;
}

footer .socialmedia a img {
    width: 50px;
    height: 50px;
}

footer .centro {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

footer .centro .siga {
    align-self: center;
    margin-top: 4%px;
    color: aliceblue;
    font-size: 2.0rem;
}

footer .centro img {
    height: 200px;
    width: 600px;
}

footer .rightside {
    display: flex;
}

footer .rightside .info {
    align-self: center;
    color: aliceblue;
    margin: 40px 40px 0px 0px;
    font-size: 1.8rem;
}


footer .mapa {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

footer .direitos {
    color: rgb(78, 78, 78);
    margin-top: 2%;
}

.wppfixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 1024px) {
    html {
        font-size: 50%;
    }
    main .principal .card1 .img1 img {
        width: 120%;
}
}

@media (max-width: 768px) {
    html {
        font-size: 35%;
    }
    main .principal .card1 .img1 img {
        width: 110%;
}

    main .parceiros .logoparceiros a {
        width: 150px;
        height: 150px;
        margin: 15px;
}
    main .parceiros .logoparceiros img {
        width: 100%;
        height: 100%;
}
    .principal .faleconosco form input {
        width: 85%;
        margin-left: 15px;
    }

    .wrapper .centro .socialmedia a img {
        width: 20px;
        height: 20px;
        margin: 0;
    }
}

    @media (max-width: 425px) {
        html {
            font-size: 20%;
        }

        header .wrapper .logo a img {
            width: 20px;
            height: 20px;
        }

        main .principal .card1 .img1 img {
            width: 100%;
    }
    
        main .parceiros .logoparceiros a {
            width: 50px;
            height: 50px;
            margin: 5px;
    }
        main .parceiros .logoparceiros img {
            width: 100%;
            height: 100%;
    }
        .principal .faleconosco form input {
            width: 85%;
            margin-left: 15px;
        }
    
        .wrapper .centro .socialmedia a img {
            width: 20px;
            height: 20px;
            margin: 0;
        }
    }