* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

html {
    font-size: 62.5%;
    overflow: hidden;
}

html, body {
    height: 100vh;
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: url('../images/background.jpg');
    background-size: cover;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    overflow: auto;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(36, 60, 97) 30%, rgba(2, 0, 36, 1) 54%);
    border-bottom: 1px rgb(68, 11, 109) solid;
    border-top: 1px rgb(68, 11, 109) solid;
}

.wrapper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(36, 60, 97) 30%, rgba(2, 0, 36, 1) 54%);
    border-bottom: 1px rgb(68, 11, 109) solid;
    border-top: 1px rgb(68, 11, 109) solid;
    height: 10vh;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10vh;
}

.logo img {
    height: 8vh;
}


div.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}


div.logo a h1 {
    margin: 18px 0px 0px 10px;
    font-family: 'Baloo Tammudu 2', cursive;
    transition: 1s;
    font-size: 4rem;
}

div.logo a h1:hover {
    color: aliceblue;
}

header div.navegation ul {
    display: flex;
    font-size: 2rem;
    list-style: none;
    align-items: center;
    margin: 0px;
}

header div.navegation ul a {
    text-decoration: none;
}

header div.navegation ul a li {
    background-color: rgb(19, 19, 56);
    border: 1px solid;
    border-radius: 20px;
    padding: 8px 20px 0px 20px;
    transition: 1s;
}

header div.navegation ul a li:last-child {
    margin-right: 15px;
}

header div .navegation ul a li:hover {
    background-color: aliceblue;
}

/* COMEÇO STYLE SITE EM MANUTENÇÃO */

main .manutencao {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 47.5rem;
    color: white;
    font-size: 3rem;
}

main .manutencao p {
    margin-top: 2.5rem;
}

/* FIM STYLE SITE EM MANUTENÇÃO */

main .principal .card1 {
    display: flex;
    margin: 17.5% 0;
    width: 95%;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
}
main .principal .card1 .img1 {
    margin-left: 5%;
    width: 60%;
}

main .principal .card1 .img1 img {
    width: 100%;
    border-radius: 20%;
}

main .principal .card1 .texto1 {
    font-size: 2.2rem;
    margin: 0 5%;
}

main .principal .produtos {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
    margin-bottom: 20%;
}

main .principal .produtos .minicard {
    color: aliceblue;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 5%;
}

main .principal .produtos .minicard img {
    width: 80%;
    margin-bottom: 2%;
}

main .principal .produtos .card-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
}

main .principal .produtos a {
    padding-top: 12px;
    transition: 1s;
    font-size: 2rem;
    border-radius: 10%;
    margin-top: 5%;
}

main .principal .produtos a:hover {
    background-color: aliceblue;
    color: #0d6efd;
}

main .parceiros {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background-color: rgb(21, 17, 54);
    border-radius: 20px;
    border: 1px rgb(68, 11, 109) solid;
    margin: 20% 5%;
}


main .parceiros .textoparceiros p {
    margin: 15% 0;
    color: #0d6efd;
    font-size: 2.4rem;
    background-color: rgb(35, 58, 95);
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
    transition: 1s;
}

main .parceiros .textoparceiros p:hover {
    border-color: aliceblue;
    color: antiquewhite;
}

main .parceiros .logoparceiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main .parceiros .logoparceiros a img {
    width: 25rem;
    margin: 2rem;
}

main .faleconosco {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 17, 54);
    border-radius: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(68, 11, 109) solid;
    margin: 10% 5%;
    width: 90%;
}

main .tituloform {
    text-align: center;
    margin: 2% 0;
    font-size: 2.6rem;
    color: white;
}

main .faleconosco .form input {
    margin: 0.75% 1%;
    width: 45%;
    font-size: 2rem;
    text-align: left;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid #579aff;
    box-shadow: 0 0 0 0;
    outline: 0;
}

main form textarea {
    width: 92.5%;
    height: 20rem;
    margin-top: 1%;
    font-size: 2rem;
    border-radius: 20px;
    padding-left: 15px;
    border: 1px solid #579aff;
    box-shadow: 0 0 0 0;
    outline: 0;
}

main form #checkbox {
    width: 3rem;
    height: 1.6rem;
    margin: 2rem 0 0 0;
}


main form label {
    color: aliceblue;
}

main form label a {
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

main form label a:hover {
    color: #579aff;
}

main .faleconosco form button {
    margin: 20px 0px 20px 0px;
    background-color: rgb(35, 58, 95);
    border: 1px solid;
    border-radius: 50px;
    padding: 0px 40px 5px 40px;
    color: #0d6efd;
    font-size: 2.4rem;
    transition: 1s;
}

main .faleconosco form button:hover {
    color: aliceblue;
}

footer {
    display: grid;
    grid-template-rows: 2;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgb(21, 31, 46) 30%, rgba(2, 0, 36, 1) 54%);
    color: white;
    border-top: 1px rgb(68, 11, 109) solid;
}

footer .wrapper {
    display: grid;
    width: 95%;
    grid-template-columns: 0.75fr 1.5fr 2fr;
}

footer .logo {
    align-self: center;
    grid-column: 1/1;
}

footer .centro {
    display: flex;
    flex-direction: column;
    grid-column: 2/2;
    font-size: 2.2rem;
    width: 100%;
    align-items: center;
    align-self: center;
    text-align: center;
}

footer .rightside {
    display: flex;
    grid-column: 3/3;
}

footer .socialmedia {
    display: flex;
    justify-content: space-around;
}

footer .socialmedia a {
    margin: 0 5%;
}

footer .socialmedia a img {
    width: 6rem;
}

footer .rightside .info {
    align-self: center;
    color: aliceblue;
    font-size: 2rem;
    align-items: center;
    margin: 7% 7% 0 0;
}

footer .mapa {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

footer .direitos {
    color: rgb(78, 78, 78);
    margin-top: 2%;
    text-align: center;
    font-size: 1.8rem;
}

.wppfixed {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
}

@media (max-width: 1024px) {
    html {
        font-size: 50%;
    }
    main .parceiros .logoparceiros a img {
        width: 15rem;
        margin: 2rem;
    }
    .wppfixed {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }
    .wppfixed a img {
        width: 7.5rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 35%;
    }
    footer .wrapper {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .rightside .mapa {
        display: none;
    }
    .mapa .mapouter {
        display: none;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 27.5%;
    }
    .card1 {
        flex-direction: column;
        flex-flow: s;
    }
    .card1 .texto1 {
        text-align: center;
        padding: 0 15%;
    }
    .wrapper .principal .produtos {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}


